/* ----- Inter Font url ----- */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

/* -----Noto Font Url ----- */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwind";

/* ----- Common Style Part ----- */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.max-width {
  max-width: 1140px;
  margin: auto;
}

.span-text-color {
  color: #e95a08;
}

.discription {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.38rem;
}

/* 




 Use Telwind Css For
  Font Color + size 
  max-width 

 Use Vanila Css For
  Everithing else == Venila Css




*/

/* ----- Header ----- */

.navbar {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section {
  margin: 120px 0;
}

.section-title {
  font-size: 4rem;
  font-weight: 700;
  color: #000000;
}

.plants-section-title {
  text-align: center;
}

.flower-store {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.cart-name {
  margin-top: 30px;
  font-size: 1.38rem;
  font-weight: 500;
}
.cart-price {
  margin-bottom: 30px;
  font-size: 1.38rem;
  font-weight: 700;
}

.cart-btn {
  border: none;
  color: white;
  width: 100%;
  padding: 20px 0;
  background-color: #e95a08;
}

/* -----  Plants Lover Section ----- */
.plant-img-container{
  position: relative;
}
.badge {
  width: 55%;
  position: absolute;
  top: -130px;
  right: -95px;
}

.flower-lover-ul-list * {
  margin-bottom: 20px;
}
.ul-list-title {
  font-size: 3.125rem;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  /* .navbar,.detailes,.container {
    padding: 0 16px ;
  } */

  .navbar {
    margin: 13px 16px 28px;
  }

  .navbar img {
    width: 20%;
  }

  #link-item {
    display: none;
  }

  .hero-section {
    flex-direction: column-reverse;
    margin: 28px 0 65px;
  }

  .hero-section-detailes {
    margin: 30px 16px 0;
  }

  .section-title {
    font-size: 1.9rem;
    margin-bottom: 13px;
  }

  .discription {
    font-size: 0.94rem;
  }

  .plants-section {
    padding: 0 16px;
  }
  .plants-section > p {
    margin: 16px auto 28px;
    width: 350px;
    font-size: 0.94rem;
  }

  .plants-section-title {
    font-size: 1.5rem;
  }

  .flower-store {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
